.loader-container
  .loader
    = image_tag 'loader.gif'
  p.load-txt-1 Importando tus movimientos bancarios
  p.load-txt-2#loading-title

javascript:
  function showLoadingTitle(seconds, title){
    setTimeout(function(){
      $('p#loading-title').text(title);
    }, seconds * 1000);
  }

  showLoadingTitle(0, "Nuestro diseñador no ha podido venir hoy :(");
  showLoadingTitle(3, "\"Compra en Sabadell\"");
  showLoadingTitle(6, "La Caixa parace Mordor desde lejos");

  location.href = '#{raw sync_with_api_bank_entries_path}';
